src/conf/xml-resources/web-service-references/IbP2cPjWs/wsdl/svoriorvar35_7003/p2cws/IbP2cPjWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.p2c.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.p2c.com/" name="IbP2cPjWs">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.p2c.com/" schemaLocation="http://svoriorvar35:7003/p2cws/IbP2cPjWs?xsd=1"/>
</xsd:schema>
</types>
<message name="validarAfiliacionP2C">
<part name="parameters" element="tns:validarAfiliacionP2C"/>
</message>
<message name="validarAfiliacionP2CResponse">
<part name="parameters" element="tns:validarAfiliacionP2CResponse"/>
</message>
<message name="desafiliarUsuarioP2C">
<part name="parameters" element="tns:desafiliarUsuarioP2C"/>
</message>
<message name="desafiliarUsuarioP2CResponse">
<part name="parameters" element="tns:desafiliarUsuarioP2CResponse"/>
</message>
<message name="validarEdicionAfiliacionP2C">
<part name="parameters" element="tns:validarEdicionAfiliacionP2C"/>
</message>
<message name="validarEdicionAfiliacionP2CResponse">
<part name="parameters" element="tns:validarEdicionAfiliacionP2CResponse"/>
</message>
<message name="consultaRepresentantelegal">
<part name="parameters" element="tns:consultaRepresentantelegal"/>
</message>
<message name="consultaRepresentantelegalResponse">
<part name="parameters" element="tns:consultaRepresentantelegalResponse"/>
</message>
<message name="consultarUsuariosP2C">
<part name="parameters" element="tns:consultarUsuariosP2C"/>
</message>
<message name="consultarUsuariosP2CResponse">
<part name="parameters" element="tns:consultarUsuariosP2CResponse"/>
</message>
<message name="editarUsuarioP2C">
<part name="parameters" element="tns:editarUsuarioP2C"/>
</message>
<message name="editarUsuarioP2CResponse">
<part name="parameters" element="tns:editarUsuarioP2CResponse"/>
</message>
<message name="realizarPagoP2CTercerosDelsur">
<part name="parameters" element="tns:realizarPagoP2CTercerosDelsur"/>
</message>
<message name="realizarPagoP2CTercerosDelsurResponse">
<part name="parameters" element="tns:realizarPagoP2CTercerosDelsurResponse"/>
</message>
<message name="realizarPagoP2CTercerosOtrosBancos">
<part name="parameters" element="tns:realizarPagoP2CTercerosOtrosBancos"/>
</message>
<message name="realizarPagoP2CTercerosOtrosBancosResponse">
<part name="parameters" element="tns:realizarPagoP2CTercerosOtrosBancosResponse"/>
</message>
<message name="registrarBeneficiarioP2C">
<part name="parameters" element="tns:registrarBeneficiarioP2C"/>
</message>
<message name="registrarBeneficiarioP2CResponse">
<part name="parameters" element="tns:registrarBeneficiarioP2CResponse"/>
</message>
<message name="consultarBeneficiariosP2C">
<part name="parameters" element="tns:consultarBeneficiariosP2C"/>
</message>
<message name="consultarBeneficiariosP2CResponse">
<part name="parameters" element="tns:consultarBeneficiariosP2CResponse"/>
</message>
<message name="insertarUsuariosP2C">
<part name="parameters" element="tns:insertarUsuariosP2C"/>
</message>
<message name="insertarUsuariosP2CResponse">
<part name="parameters" element="tns:insertarUsuariosP2CResponse"/>
</message>
<portType name="IbP2cPjWs">
<operation name="validarAfiliacionP2C">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/validarAfiliacionP2CRequest" message="tns:validarAfiliacionP2C"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/validarAfiliacionP2CResponse" message="tns:validarAfiliacionP2CResponse"/>
</operation>
<operation name="desafiliarUsuarioP2C">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/desafiliarUsuarioP2CRequest" message="tns:desafiliarUsuarioP2C"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/desafiliarUsuarioP2CResponse" message="tns:desafiliarUsuarioP2CResponse"/>
</operation>
<operation name="validarEdicionAfiliacionP2C">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/validarEdicionAfiliacionP2CRequest" message="tns:validarEdicionAfiliacionP2C"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/validarEdicionAfiliacionP2CResponse" message="tns:validarEdicionAfiliacionP2CResponse"/>
</operation>
<operation name="consultaRepresentantelegal">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/consultaRepresentantelegalRequest" message="tns:consultaRepresentantelegal"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/consultaRepresentantelegalResponse" message="tns:consultaRepresentantelegalResponse"/>
</operation>
<operation name="consultarUsuariosP2C">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/consultarUsuariosP2CRequest" message="tns:consultarUsuariosP2C"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/consultarUsuariosP2CResponse" message="tns:consultarUsuariosP2CResponse"/>
</operation>
<operation name="editarUsuarioP2C">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/editarUsuarioP2CRequest" message="tns:editarUsuarioP2C"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/editarUsuarioP2CResponse" message="tns:editarUsuarioP2CResponse"/>
</operation>
<operation name="realizarPagoP2CTercerosDelsur">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/realizarPagoP2CTercerosDelsurRequest" message="tns:realizarPagoP2CTercerosDelsur"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/realizarPagoP2CTercerosDelsurResponse" message="tns:realizarPagoP2CTercerosDelsurResponse"/>
</operation>
<operation name="realizarPagoP2CTercerosOtrosBancos">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/realizarPagoP2CTercerosOtrosBancosRequest" message="tns:realizarPagoP2CTercerosOtrosBancos"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/realizarPagoP2CTercerosOtrosBancosResponse" message="tns:realizarPagoP2CTercerosOtrosBancosResponse"/>
</operation>
<operation name="registrarBeneficiarioP2C">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/registrarBeneficiarioP2CRequest" message="tns:registrarBeneficiarioP2C"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/registrarBeneficiarioP2CResponse" message="tns:registrarBeneficiarioP2CResponse"/>
</operation>
<operation name="consultarBeneficiariosP2C">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/consultarBeneficiariosP2CRequest" message="tns:consultarBeneficiariosP2C"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/consultarBeneficiariosP2CResponse" message="tns:consultarBeneficiariosP2CResponse"/>
</operation>
<operation name="insertarUsuariosP2C">
<input wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/insertarUsuariosP2CRequest" message="tns:insertarUsuariosP2C"/>
<output wsam:Action="http://services.ws.p2c.com/IbP2cPjWs/insertarUsuariosP2CResponse" message="tns:insertarUsuariosP2CResponse"/>
</operation>
</portType>
<binding name="IbP2cPjWsPortBinding" type="tns:IbP2cPjWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarAfiliacionP2C">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desafiliarUsuarioP2C">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarEdicionAfiliacionP2C">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaRepresentantelegal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarUsuariosP2C">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarUsuarioP2C">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarPagoP2CTercerosDelsur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarPagoP2CTercerosOtrosBancos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarBeneficiarioP2C">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarBeneficiariosP2C">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarUsuariosP2C">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IbP2cPjWs">
<port name="IbP2cPjWsPort" binding="tns:IbP2cPjWsPortBinding">
<soap:address location="http://svoriorvar35:7003/p2cws/IbP2cPjWs"/>
</port>
</service>
</definitions>