src/conf/xml-resources/web-service-references/ChequeraWs/wsdl/localhost_7003/ibdsws/ChequeraWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="ChequeraWs">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/ChequeraWs?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerEstadoSolicitudChequera">
<part name="parameters" element="tns:obtenerEstadoSolicitudChequera"/>
</message>
<message name="obtenerEstadoSolicitudChequeraResponse">
<part name="parameters" element="tns:obtenerEstadoSolicitudChequeraResponse"/>
</message>
<message name="listarChequeraEntregada">
<part name="parameters" element="tns:listarChequeraEntregada"/>
</message>
<message name="listarChequeraEntregadaResponse">
<part name="parameters" element="tns:listarChequeraEntregadaResponse"/>
</message>
<message name="solicitarChequeraPJ">
<part name="parameters" element="tns:solicitarChequeraPJ"/>
</message>
<message name="solicitarChequeraPJResponse">
<part name="parameters" element="tns:solicitarChequeraPJResponse"/>
</message>
<message name="suspenderChequera">
<part name="parameters" element="tns:suspenderChequera"/>
</message>
<message name="suspenderChequeraResponse">
<part name="parameters" element="tns:suspenderChequeraResponse"/>
</message>
<message name="solicitarChequeraPN">
<part name="parameters" element="tns:solicitarChequeraPN"/>
</message>
<message name="solicitarChequeraPNResponse">
<part name="parameters" element="tns:solicitarChequeraPNResponse"/>
</message>
<message name="listarCheque">
<part name="parameters" element="tns:listarCheque"/>
</message>
<message name="listarChequeResponse">
<part name="parameters" element="tns:listarChequeResponse"/>
</message>
<portType name="ChequeraWs">
<operation name="obtenerEstadoSolicitudChequera">
<input wsam:Action="http://services.ws.bds.com/ChequeraWs/obtenerEstadoSolicitudChequeraRequest" message="tns:obtenerEstadoSolicitudChequera"/>
<output wsam:Action="http://services.ws.bds.com/ChequeraWs/obtenerEstadoSolicitudChequeraResponse" message="tns:obtenerEstadoSolicitudChequeraResponse"/>
</operation>
<operation name="listarChequeraEntregada">
<input wsam:Action="http://services.ws.bds.com/ChequeraWs/listarChequeraEntregadaRequest" message="tns:listarChequeraEntregada"/>
<output wsam:Action="http://services.ws.bds.com/ChequeraWs/listarChequeraEntregadaResponse" message="tns:listarChequeraEntregadaResponse"/>
</operation>
<operation name="solicitarChequeraPJ">
<input wsam:Action="http://services.ws.bds.com/ChequeraWs/solicitarChequeraPJRequest" message="tns:solicitarChequeraPJ"/>
<output wsam:Action="http://services.ws.bds.com/ChequeraWs/solicitarChequeraPJResponse" message="tns:solicitarChequeraPJResponse"/>
</operation>
<operation name="suspenderChequera">
<input wsam:Action="http://services.ws.bds.com/ChequeraWs/suspenderChequeraRequest" message="tns:suspenderChequera"/>
<output wsam:Action="http://services.ws.bds.com/ChequeraWs/suspenderChequeraResponse" message="tns:suspenderChequeraResponse"/>
</operation>
<operation name="solicitarChequeraPN">
<input wsam:Action="http://services.ws.bds.com/ChequeraWs/solicitarChequeraPNRequest" message="tns:solicitarChequeraPN"/>
<output wsam:Action="http://services.ws.bds.com/ChequeraWs/solicitarChequeraPNResponse" message="tns:solicitarChequeraPNResponse"/>
</operation>
<operation name="listarCheque">
<input wsam:Action="http://services.ws.bds.com/ChequeraWs/listarChequeRequest" message="tns:listarCheque"/>
<output wsam:Action="http://services.ws.bds.com/ChequeraWs/listarChequeResponse" message="tns:listarChequeResponse"/>
</operation>
</portType>
<binding name="ChequeraWsPortBinding" type="tns:ChequeraWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerEstadoSolicitudChequera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarChequeraEntregada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarChequeraPJ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suspenderChequera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarChequeraPN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCheque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ChequeraWs">
<port name="ChequeraWsPort" binding="tns:ChequeraWsPortBinding">
<soap:address location="http://localhost:7003/ibdsws/ChequeraWs"/>
</port>
</service>
</definitions>