src/conf/xml-resources/web-service-references/IbUsuariosCanalesWs/wsdl/localhost_7003/ibdsws/IbUsuariosCanalesWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="IbUsuariosCanalesWs">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/IbUsuariosCanalesWs?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarUsuarioCanal">
<part name="parameters" element="tns:insertarUsuarioCanal"/>
</message>
<message name="insertarUsuarioCanalResponse">
<part name="parameters" element="tns:insertarUsuarioCanalResponse"/>
</message>
<message name="consultarUltimaConexionCanal">
<part name="parameters" element="tns:consultarUltimaConexionCanal"/>
</message>
<message name="consultarUltimaConexionCanalResponse">
<part name="parameters" element="tns:consultarUltimaConexionCanalResponse"/>
</message>
<message name="bloquearAccesoCanal">
<part name="parameters" element="tns:bloquearAccesoCanal"/>
</message>
<message name="bloquearAccesoCanalResponse">
<part name="parameters" element="tns:bloquearAccesoCanalResponse"/>
</message>
<message name="consultaCanalesPorUsuario">
<part name="parameters" element="tns:consultaCanalesPorUsuario"/>
</message>
<message name="consultaCanalesPorUsuarioResponse">
<part name="parameters" element="tns:consultaCanalesPorUsuarioResponse"/>
</message>
<message name="validarUsuarioAccesoRegistro">
<part name="parameters" element="tns:validarUsuarioAccesoRegistro"/>
</message>
<message name="validarUsuarioAccesoRegistroResponse">
<part name="parameters" element="tns:validarUsuarioAccesoRegistroResponse"/>
</message>
<message name="actualizarUsuarioCanal">
<part name="parameters" element="tns:actualizarUsuarioCanal"/>
</message>
<message name="actualizarUsuarioCanalResponse">
<part name="parameters" element="tns:actualizarUsuarioCanalResponse"/>
</message>
<message name="usuarioCanalporIdUsuario">
<part name="parameters" element="tns:usuarioCanalporIdUsuario"/>
</message>
<message name="usuarioCanalporIdUsuarioResponse">
<part name="parameters" element="tns:usuarioCanalporIdUsuarioResponse"/>
</message>
<message name="validarConexionSimultanea">
<part name="parameters" element="tns:validarConexionSimultanea"/>
</message>
<message name="validarConexionSimultaneaResponse">
<part name="parameters" element="tns:validarConexionSimultaneaResponse"/>
</message>
<message name="validarTDDActivaCore">
<part name="parameters" element="tns:validarTDDActivaCore"/>
</message>
<message name="validarTDDActivaCoreResponse">
<part name="parameters" element="tns:validarTDDActivaCoreResponse"/>
</message>
<message name="obtenerIbUsuarioPorTDD">
<part name="parameters" element="tns:obtenerIbUsuarioPorTDD"/>
</message>
<message name="obtenerIbUsuarioPorTDDResponse">
<part name="parameters" element="tns:obtenerIbUsuarioPorTDDResponse"/>
</message>
<message name="actualizarDatosUsuario">
<part name="parameters" element="tns:actualizarDatosUsuario"/>
</message>
<message name="actualizarDatosUsuarioResponse">
<part name="parameters" element="tns:actualizarDatosUsuarioResponse"/>
</message>
<message name="insertarDatosIbUsuario">
<part name="parameters" element="tns:insertarDatosIbUsuario"/>
</message>
<message name="insertarDatosIbUsuarioResponse">
<part name="parameters" element="tns:insertarDatosIbUsuarioResponse"/>
</message>
<message name="cantidadPregSegFallidas">
<part name="parameters" element="tns:cantidadPregSegFallidas"/>
</message>
<message name="cantidadPregSegFallidasResponse">
<part name="parameters" element="tns:cantidadPregSegFallidasResponse"/>
</message>
<message name="obtenerIbUsuarioPorCodUsuario">
<part name="parameters" element="tns:obtenerIbUsuarioPorCodUsuario"/>
</message>
<message name="obtenerIbUsuarioPorCodUsuarioResponse">
<part name="parameters" element="tns:obtenerIbUsuarioPorCodUsuarioResponse"/>
</message>
<message name="obtenerIbUsuarioPorCanal">
<part name="parameters" element="tns:obtenerIbUsuarioPorCanal"/>
</message>
<message name="obtenerIbUsuarioPorCanalResponse">
<part name="parameters" element="tns:obtenerIbUsuarioPorCanalResponse"/>
</message>
<message name="actualizarPregSegFallidas">
<part name="parameters" element="tns:actualizarPregSegFallidas"/>
</message>
<message name="actualizarPregSegFallidasResponse">
<part name="parameters" element="tns:actualizarPregSegFallidasResponse"/>
</message>
<message name="existeEnUltimasNClaves">
<part name="parameters" element="tns:existeEnUltimasNClaves"/>
</message>
<message name="existeEnUltimasNClavesResponse">
<part name="parameters" element="tns:existeEnUltimasNClavesResponse"/>
</message>
<message name="obtenerUltimaClave">
<part name="parameters" element="tns:obtenerUltimaClave"/>
</message>
<message name="obtenerUltimaClaveResponse">
<part name="parameters" element="tns:obtenerUltimaClaveResponse"/>
</message>
<message name="loginIB">
<part name="parameters" element="tns:loginIB"/>
</message>
<message name="loginIBResponse">
<part name="parameters" element="tns:loginIBResponse"/>
</message>
<message name="listadoCanales">
<part name="parameters" element="tns:listadoCanales"/>
</message>
<message name="listadoCanalesResponse">
<part name="parameters" element="tns:listadoCanalesResponse"/>
</message>
<message name="obtenerTDDPorDoc">
<part name="parameters" element="tns:obtenerTDDPorDoc"/>
</message>
<message name="obtenerTDDPorDocResponse">
<part name="parameters" element="tns:obtenerTDDPorDocResponse"/>
</message>
<message name="validarLogin">
<part name="parameters" element="tns:validarLogin"/>
</message>
<message name="validarLoginResponse">
<part name="parameters" element="tns:validarLoginResponse"/>
</message>
<message name="crearClave">
<part name="parameters" element="tns:crearClave"/>
</message>
<message name="crearClaveResponse">
<part name="parameters" element="tns:crearClaveResponse"/>
</message>
<portType name="IbUsuariosCanalesWs">
<operation name="insertarUsuarioCanal">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/insertarUsuarioCanalRequest" message="tns:insertarUsuarioCanal"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/insertarUsuarioCanalResponse" message="tns:insertarUsuarioCanalResponse"/>
</operation>
<operation name="consultarUltimaConexionCanal">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/consultarUltimaConexionCanalRequest" message="tns:consultarUltimaConexionCanal"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/consultarUltimaConexionCanalResponse" message="tns:consultarUltimaConexionCanalResponse"/>
</operation>
<operation name="bloquearAccesoCanal">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/bloquearAccesoCanalRequest" message="tns:bloquearAccesoCanal"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/bloquearAccesoCanalResponse" message="tns:bloquearAccesoCanalResponse"/>
</operation>
<operation name="consultaCanalesPorUsuario">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/consultaCanalesPorUsuarioRequest" message="tns:consultaCanalesPorUsuario"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/consultaCanalesPorUsuarioResponse" message="tns:consultaCanalesPorUsuarioResponse"/>
</operation>
<operation name="validarUsuarioAccesoRegistro">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/validarUsuarioAccesoRegistroRequest" message="tns:validarUsuarioAccesoRegistro"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/validarUsuarioAccesoRegistroResponse" message="tns:validarUsuarioAccesoRegistroResponse"/>
</operation>
<operation name="actualizarUsuarioCanal">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/actualizarUsuarioCanalRequest" message="tns:actualizarUsuarioCanal"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/actualizarUsuarioCanalResponse" message="tns:actualizarUsuarioCanalResponse"/>
</operation>
<operation name="usuarioCanalporIdUsuario">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/usuarioCanalporIdUsuarioRequest" message="tns:usuarioCanalporIdUsuario"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/usuarioCanalporIdUsuarioResponse" message="tns:usuarioCanalporIdUsuarioResponse"/>
</operation>
<operation name="validarConexionSimultanea">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/validarConexionSimultaneaRequest" message="tns:validarConexionSimultanea"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/validarConexionSimultaneaResponse" message="tns:validarConexionSimultaneaResponse"/>
</operation>
<operation name="validarTDDActivaCore">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/validarTDDActivaCoreRequest" message="tns:validarTDDActivaCore"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/validarTDDActivaCoreResponse" message="tns:validarTDDActivaCoreResponse"/>
</operation>
<operation name="obtenerIbUsuarioPorTDD">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerIbUsuarioPorTDDRequest" message="tns:obtenerIbUsuarioPorTDD"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerIbUsuarioPorTDDResponse" message="tns:obtenerIbUsuarioPorTDDResponse"/>
</operation>
<operation name="actualizarDatosUsuario">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/actualizarDatosUsuarioRequest" message="tns:actualizarDatosUsuario"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/actualizarDatosUsuarioResponse" message="tns:actualizarDatosUsuarioResponse"/>
</operation>
<operation name="insertarDatosIbUsuario">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/insertarDatosIbUsuarioRequest" message="tns:insertarDatosIbUsuario"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/insertarDatosIbUsuarioResponse" message="tns:insertarDatosIbUsuarioResponse"/>
</operation>
<operation name="cantidadPregSegFallidas">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/cantidadPregSegFallidasRequest" message="tns:cantidadPregSegFallidas"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/cantidadPregSegFallidasResponse" message="tns:cantidadPregSegFallidasResponse"/>
</operation>
<operation name="obtenerIbUsuarioPorCodUsuario">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerIbUsuarioPorCodUsuarioRequest" message="tns:obtenerIbUsuarioPorCodUsuario"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerIbUsuarioPorCodUsuarioResponse" message="tns:obtenerIbUsuarioPorCodUsuarioResponse"/>
</operation>
<operation name="obtenerIbUsuarioPorCanal">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerIbUsuarioPorCanalRequest" message="tns:obtenerIbUsuarioPorCanal"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerIbUsuarioPorCanalResponse" message="tns:obtenerIbUsuarioPorCanalResponse"/>
</operation>
<operation name="actualizarPregSegFallidas">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/actualizarPregSegFallidasRequest" message="tns:actualizarPregSegFallidas"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/actualizarPregSegFallidasResponse" message="tns:actualizarPregSegFallidasResponse"/>
</operation>
<operation name="existeEnUltimasNClaves">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/existeEnUltimasNClavesRequest" message="tns:existeEnUltimasNClaves"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/existeEnUltimasNClavesResponse" message="tns:existeEnUltimasNClavesResponse"/>
</operation>
<operation name="obtenerUltimaClave">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerUltimaClaveRequest" message="tns:obtenerUltimaClave"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerUltimaClaveResponse" message="tns:obtenerUltimaClaveResponse"/>
</operation>
<operation name="loginIB">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/loginIBRequest" message="tns:loginIB"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/loginIBResponse" message="tns:loginIBResponse"/>
</operation>
<operation name="listadoCanales">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/listadoCanalesRequest" message="tns:listadoCanales"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/listadoCanalesResponse" message="tns:listadoCanalesResponse"/>
</operation>
<operation name="obtenerTDDPorDoc">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerTDDPorDocRequest" message="tns:obtenerTDDPorDoc"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/obtenerTDDPorDocResponse" message="tns:obtenerTDDPorDocResponse"/>
</operation>
<operation name="validarLogin">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/validarLoginRequest" message="tns:validarLogin"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/validarLoginResponse" message="tns:validarLoginResponse"/>
</operation>
<operation name="crearClave">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/crearClaveRequest" message="tns:crearClave"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosCanalesWs/crearClaveResponse" message="tns:crearClaveResponse"/>
</operation>
</portType>
<binding name="IbUsuariosCanalesWsPortBinding" type="tns:IbUsuariosCanalesWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarUsuarioCanal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarUltimaConexionCanal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bloquearAccesoCanal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaCanalesPorUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarUsuarioAccesoRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarUsuarioCanal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="usuarioCanalporIdUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarConexionSimultanea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarTDDActivaCore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIbUsuarioPorTDD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarDatosUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarDatosIbUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cantidadPregSegFallidas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIbUsuarioPorCodUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerIbUsuarioPorCanal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarPregSegFallidas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="existeEnUltimasNClaves">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerUltimaClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginIB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoCanales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerTDDPorDoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearClave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IbUsuariosCanalesWs">
<port name="IbUsuariosCanalesWsPort" binding="tns:IbUsuariosCanalesWsPortBinding">
<soap:address location="http://localhost:7003/ibdsws/IbUsuariosCanalesWs"/>
</port>
</service>
</definitions>