src/conf/xml-resources/web-service-references/EstadoWs/wsdl/localhost_7001/ibdsws/EstadoWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://services.ws.bds.com/" targetNamespace="http://services.ws.bds.com/"><xsd:complexType name="consultarEstado"/><xsd:complexType name="bdsUtil"><xsd:sequence><xsd:element name="feriadosList" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/></xsd:sequence></xsd:complexType><xsd:complexType name="estadoDTO"><xsd:complexContent><xsd:extension base="ns0:bdsUtil"><xsd:sequence><xsd:element name="codigoEstado" type="xsd:decimal" minOccurs="0"/><xsd:element name="ibEstadoList" type="ns0:estadoDTO" minOccurs="0" maxOccurs="unbounded" nillable="true"/><xsd:element name="nombre" type="xsd:string" minOccurs="0"/><xsd:element name="respuesta" type="ns0:respuestaDTO" minOccurs="0"/></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="consultarEstadoResponse"><xsd:sequence><xsd:element name="return" type="ns0:estadoDTO" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="respuestaDTO"><xsd:complexContent><xsd:extension base="ns0:bdsUtil"><xsd:sequence><xsd:element name="codigo" type="xsd:string" minOccurs="0"/><xsd:element name="codigoSP" type="xsd:string" minOccurs="0"/><xsd:element name="descripcion" type="xsd:string" minOccurs="0"/><xsd:element name="descripcionSP" type="xsd:string" minOccurs="0"/><xsd:element name="textoSP" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:element name="consultarEstado" type="ns0:consultarEstado"/><xsd:element name="consultarEstadoResponse" type="ns0:consultarEstadoResponse"/></xsd:schema>