src/conf/xml-resources/web-service-references/ReferenciaWS/wsdl/localhost_7001/ibdsws/ReferenciaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="ReferenciaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/ReferenciaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="confirmarReferencia">
<part name="parameters" element="tns:confirmarReferencia"/>
</message>
<message name="confirmarReferenciaResponse">
<part name="parameters" element="tns:confirmarReferenciaResponse"/>
</message>
<message name="obtenerDatosReferencias">
<part name="parameters" element="tns:obtenerDatosReferencias"/>
</message>
<message name="obtenerDatosReferenciasResponse">
<part name="parameters" element="tns:obtenerDatosReferenciasResponse"/>
</message>
<message name="obtenerReferenciaTDC">
<part name="parameters" element="tns:obtenerReferenciaTDC"/>
</message>
<message name="obtenerReferenciaTDCResponse">
<part name="parameters" element="tns:obtenerReferenciaTDCResponse"/>
</message>
<portType name="ReferenciaWS">
<operation name="confirmarReferencia">
<input wsam:Action="http://services.ws.bds.com/ReferenciaWS/confirmarReferenciaRequest" message="tns:confirmarReferencia"/>
<output wsam:Action="http://services.ws.bds.com/ReferenciaWS/confirmarReferenciaResponse" message="tns:confirmarReferenciaResponse"/>
</operation>
<operation name="obtenerDatosReferencias">
<input wsam:Action="http://services.ws.bds.com/ReferenciaWS/obtenerDatosReferenciasRequest" message="tns:obtenerDatosReferencias"/>
<output wsam:Action="http://services.ws.bds.com/ReferenciaWS/obtenerDatosReferenciasResponse" message="tns:obtenerDatosReferenciasResponse"/>
</operation>
<operation name="obtenerReferenciaTDC">
<input wsam:Action="http://services.ws.bds.com/ReferenciaWS/obtenerReferenciaTDCRequest" message="tns:obtenerReferenciaTDC"/>
<output wsam:Action="http://services.ws.bds.com/ReferenciaWS/obtenerReferenciaTDCResponse" message="tns:obtenerReferenciaTDCResponse"/>
</operation>
</portType>
<binding name="ReferenciaWSPortBinding" type="tns:ReferenciaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="confirmarReferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosReferencias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerReferenciaTDC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReferenciaWS">
<port name="ReferenciaWSPort" binding="tns:ReferenciaWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/ReferenciaWS"/>
</port>
</service>
</definitions>