src/conf/xml-resources/web-service-references/TransferenciasYPagosWS/wsdl/localhost_7001/ibdsws/TransferenciasYPagosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="TransferenciasYPagosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/TransferenciasYPagosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="pagoTDCOtroBanco">
<part name="parameters" element="tns:pagoTDCOtroBanco"/>
</message>
<message name="pagoTDCOtroBancoResponse">
<part name="parameters" element="tns:pagoTDCOtroBancoResponse"/>
</message>
<message name="pagoTDCPropiaMismoBanco">
<part name="parameters" element="tns:pagoTDCPropiaMismoBanco"/>
</message>
<message name="pagoTDCPropiaMismoBancoResponse">
<part name="parameters" element="tns:pagoTDCPropiaMismoBancoResponse"/>
</message>
<message name="transferenciaOtroBanco">
<part name="parameters" element="tns:transferenciaOtroBanco"/>
</message>
<message name="transferenciaOtroBancoResponse">
<part name="parameters" element="tns:transferenciaOtroBancoResponse"/>
</message>
<message name="pagoTDCMismoBanco">
<part name="parameters" element="tns:pagoTDCMismoBanco"/>
</message>
<message name="pagoTDCMismoBancoResponse">
<part name="parameters" element="tns:pagoTDCMismoBancoResponse"/>
</message>
<message name="transferenciaMismoBanco">
<part name="parameters" element="tns:transferenciaMismoBanco"/>
</message>
<message name="transferenciaMismoBancoResponse">
<part name="parameters" element="tns:transferenciaMismoBancoResponse"/>
</message>
<message name="transferenciaPropiasMismoBanco">
<part name="parameters" element="tns:transferenciaPropiasMismoBanco"/>
</message>
<message name="transferenciaPropiasMismoBancoResponse">
<part name="parameters" element="tns:transferenciaPropiasMismoBancoResponse"/>
</message>
<portType name="TransferenciasYPagosWS">
<operation name="pagoTDCOtroBanco">
<input wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/pagoTDCOtroBancoRequest" message="tns:pagoTDCOtroBanco"/>
<output wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/pagoTDCOtroBancoResponse" message="tns:pagoTDCOtroBancoResponse"/>
</operation>
<operation name="pagoTDCPropiaMismoBanco">
<input wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/pagoTDCPropiaMismoBancoRequest" message="tns:pagoTDCPropiaMismoBanco"/>
<output wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/pagoTDCPropiaMismoBancoResponse" message="tns:pagoTDCPropiaMismoBancoResponse"/>
</operation>
<operation name="transferenciaOtroBanco">
<input wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/transferenciaOtroBancoRequest" message="tns:transferenciaOtroBanco"/>
<output wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/transferenciaOtroBancoResponse" message="tns:transferenciaOtroBancoResponse"/>
</operation>
<operation name="pagoTDCMismoBanco">
<input wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/pagoTDCMismoBancoRequest" message="tns:pagoTDCMismoBanco"/>
<output wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/pagoTDCMismoBancoResponse" message="tns:pagoTDCMismoBancoResponse"/>
</operation>
<operation name="transferenciaMismoBanco">
<input wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/transferenciaMismoBancoRequest" message="tns:transferenciaMismoBanco"/>
<output wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/transferenciaMismoBancoResponse" message="tns:transferenciaMismoBancoResponse"/>
</operation>
<operation name="transferenciaPropiasMismoBanco">
<input wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/transferenciaPropiasMismoBancoRequest" message="tns:transferenciaPropiasMismoBanco"/>
<output wsam:Action="http://services.ws.bds.com/TransferenciasYPagosWS/transferenciaPropiasMismoBancoResponse" message="tns:transferenciaPropiasMismoBancoResponse"/>
</operation>
</portType>
<binding name="TransferenciasYPagosWSPortBinding" type="tns:TransferenciasYPagosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pagoTDCOtroBanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pagoTDCPropiaMismoBanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferenciaOtroBanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pagoTDCMismoBanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferenciaMismoBanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferenciaPropiasMismoBanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TransferenciasYPagosWS">
<port name="TransferenciasYPagosWSPort" binding="tns:TransferenciasYPagosWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/TransferenciasYPagosWS"/>
</port>
</service>
</definitions>