web/WEB-INF/wsdl/localhost_7001/ibdsws/TdcWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="TdcWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/TdcWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listadoTdcPorCliente">
<part name="parameters" element="tns:listadoTdcPorCliente"/>
</message>
<message name="listadoTdcPorClienteResponse">
<part name="parameters" element="tns:listadoTdcPorClienteResponse"/>
</message>
<message name="listadoMovimientosTDCMes">
<part name="parameters" element="tns:listadoMovimientosTDCMes"/>
</message>
<message name="listadoMovimientosTDCMesResponse">
<part name="parameters" element="tns:listadoMovimientosTDCMesResponse"/>
</message>
<message name="obtenerDetalleTDC">
<part name="parameters" element="tns:obtenerDetalleTDC"/>
</message>
<message name="obtenerDetalleTDCResponse">
<part name="parameters" element="tns:obtenerDetalleTDCResponse"/>
</message>
<message name="listadoMovimientosTDC">
<part name="parameters" element="tns:listadoMovimientosTDC"/>
</message>
<message name="listadoMovimientosTDCResponse">
<part name="parameters" element="tns:listadoMovimientosTDCResponse"/>
</message>
<message name="obtenerClienteTarjeta">
<part name="parameters" element="tns:obtenerClienteTarjeta"/>
</message>
<message name="obtenerClienteTarjetaResponse">
<part name="parameters" element="tns:obtenerClienteTarjetaResponse"/>
</message>
<message name="listadoTdcPropias">
<part name="parameters" element="tns:listadoTdcPropias"/>
</message>
<message name="listadoTdcPropiasResponse">
<part name="parameters" element="tns:listadoTdcPropiasResponse"/>
</message>
<portType name="TdcWS">
<operation name="listadoTdcPorCliente">
<input wsam:Action="http://services.ws.bds.com/TdcWS/listadoTdcPorClienteRequest" message="tns:listadoTdcPorCliente"/>
<output wsam:Action="http://services.ws.bds.com/TdcWS/listadoTdcPorClienteResponse" message="tns:listadoTdcPorClienteResponse"/>
</operation>
<operation name="listadoMovimientosTDCMes">
<input wsam:Action="http://services.ws.bds.com/TdcWS/listadoMovimientosTDCMesRequest" message="tns:listadoMovimientosTDCMes"/>
<output wsam:Action="http://services.ws.bds.com/TdcWS/listadoMovimientosTDCMesResponse" message="tns:listadoMovimientosTDCMesResponse"/>
</operation>
<operation name="obtenerDetalleTDC">
<input wsam:Action="http://services.ws.bds.com/TdcWS/obtenerDetalleTDCRequest" message="tns:obtenerDetalleTDC"/>
<output wsam:Action="http://services.ws.bds.com/TdcWS/obtenerDetalleTDCResponse" message="tns:obtenerDetalleTDCResponse"/>
</operation>
<operation name="listadoMovimientosTDC">
<input wsam:Action="http://services.ws.bds.com/TdcWS/listadoMovimientosTDCRequest" message="tns:listadoMovimientosTDC"/>
<output wsam:Action="http://services.ws.bds.com/TdcWS/listadoMovimientosTDCResponse" message="tns:listadoMovimientosTDCResponse"/>
</operation>
<operation name="obtenerClienteTarjeta">
<input wsam:Action="http://services.ws.bds.com/TdcWS/obtenerClienteTarjetaRequest" message="tns:obtenerClienteTarjeta"/>
<output wsam:Action="http://services.ws.bds.com/TdcWS/obtenerClienteTarjetaResponse" message="tns:obtenerClienteTarjetaResponse"/>
</operation>
<operation name="listadoTdcPropias">
<input wsam:Action="http://services.ws.bds.com/TdcWS/listadoTdcPropiasRequest" message="tns:listadoTdcPropias"/>
<output wsam:Action="http://services.ws.bds.com/TdcWS/listadoTdcPropiasResponse" message="tns:listadoTdcPropiasResponse"/>
</operation>
</portType>
<binding name="TdcWSPortBinding" type="tns:TdcWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listadoTdcPorCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoMovimientosTDCMes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDetalleTDC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoMovimientosTDC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerClienteTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoTdcPropias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TdcWS">
<port name="TdcWSPort" binding="tns:TdcWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/TdcWS"/>
</port>
</service>
</definitions>