src/conf/xml-resources/web-service-references/P2PWS/wsdl/localhost_7001/ibdsws/P2PWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="P2PWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/P2PWS?xsd=1"/>
</xsd:schema>
</types>
<message name="realizarPagoP2PTercerosOtrosBancos">
<part name="parameters" element="tns:realizarPagoP2PTercerosOtrosBancos"/>
</message>
<message name="realizarPagoP2PTercerosOtrosBancosResponse">
<part name="parameters" element="tns:realizarPagoP2PTercerosOtrosBancosResponse"/>
</message>
<message name="registrarBeneficiarioP2P">
<part name="parameters" element="tns:registrarBeneficiarioP2P"/>
</message>
<message name="registrarBeneficiarioP2PResponse">
<part name="parameters" element="tns:registrarBeneficiarioP2PResponse"/>
</message>
<message name="realizarPagoP2PTercerosDelsur">
<part name="parameters" element="tns:realizarPagoP2PTercerosDelsur"/>
</message>
<message name="realizarPagoP2PTercerosDelsurResponse">
<part name="parameters" element="tns:realizarPagoP2PTercerosDelsurResponse"/>
</message>
<portType name="P2PWS">
<operation name="realizarPagoP2PTercerosOtrosBancos">
<input wsam:Action="http://services.ws.bds.com/P2PWS/realizarPagoP2PTercerosOtrosBancosRequest" message="tns:realizarPagoP2PTercerosOtrosBancos"/>
<output wsam:Action="http://services.ws.bds.com/P2PWS/realizarPagoP2PTercerosOtrosBancosResponse" message="tns:realizarPagoP2PTercerosOtrosBancosResponse"/>
</operation>
<operation name="registrarBeneficiarioP2P">
<input wsam:Action="http://services.ws.bds.com/P2PWS/registrarBeneficiarioP2PRequest" message="tns:registrarBeneficiarioP2P"/>
<output wsam:Action="http://services.ws.bds.com/P2PWS/registrarBeneficiarioP2PResponse" message="tns:registrarBeneficiarioP2PResponse"/>
</operation>
<operation name="realizarPagoP2PTercerosDelsur">
<input wsam:Action="http://services.ws.bds.com/P2PWS/realizarPagoP2PTercerosDelsurRequest" message="tns:realizarPagoP2PTercerosDelsur"/>
<output wsam:Action="http://services.ws.bds.com/P2PWS/realizarPagoP2PTercerosDelsurResponse" message="tns:realizarPagoP2PTercerosDelsurResponse"/>
</operation>
</portType>
<binding name="P2PWSPortBinding" type="tns:P2PWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="realizarPagoP2PTercerosOtrosBancos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarBeneficiarioP2P">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarPagoP2PTercerosDelsur">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="P2PWS">
<port name="P2PWSPort" binding="tns:P2PWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/P2PWS"/>
</port>
</service>
</definitions>