src/conf/xml-resources/web-service-references/IbMensajesWS/wsdl/localhost_7003/ibdsws/IbMensajesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="IbMensajesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/IbMensajesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="cantNuevosMsjsUsuarios">
<part name="parameters" element="tns:cantNuevosMsjsUsuarios"/>
</message>
<message name="cantNuevosMsjsUsuariosResponse">
<part name="parameters" element="tns:cantNuevosMsjsUsuariosResponse"/>
</message>
<message name="consultarMensajesUsuarios">
<part name="parameters" element="tns:consultarMensajesUsuarios"/>
</message>
<message name="consultarMensajesUsuariosResponse">
<part name="parameters" element="tns:consultarMensajesUsuariosResponse"/>
</message>
<message name="marcarMensajeLeido">
<part name="parameters" element="tns:marcarMensajeLeido"/>
</message>
<message name="marcarMensajeLeidoResponse">
<part name="parameters" element="tns:marcarMensajeLeidoResponse"/>
</message>
<message name="mensajeUsuarioLeido">
<part name="parameters" element="tns:mensajeUsuarioLeido"/>
</message>
<message name="mensajeUsuarioLeidoResponse">
<part name="parameters" element="tns:mensajeUsuarioLeidoResponse"/>
</message>
<message name="consultarMensajesEmpresa">
<part name="parameters" element="tns:consultarMensajesEmpresa"/>
</message>
<message name="consultarMensajesEmpresaResponse">
<part name="parameters" element="tns:consultarMensajesEmpresaResponse"/>
</message>
<portType name="IbMensajesWS">
<operation name="cantNuevosMsjsUsuarios">
<input wsam:Action="http://services.ws.bds.com/IbMensajesWS/cantNuevosMsjsUsuariosRequest" message="tns:cantNuevosMsjsUsuarios"/>
<output wsam:Action="http://services.ws.bds.com/IbMensajesWS/cantNuevosMsjsUsuariosResponse" message="tns:cantNuevosMsjsUsuariosResponse"/>
</operation>
<operation name="consultarMensajesUsuarios">
<input wsam:Action="http://services.ws.bds.com/IbMensajesWS/consultarMensajesUsuariosRequest" message="tns:consultarMensajesUsuarios"/>
<output wsam:Action="http://services.ws.bds.com/IbMensajesWS/consultarMensajesUsuariosResponse" message="tns:consultarMensajesUsuariosResponse"/>
</operation>
<operation name="marcarMensajeLeido">
<input wsam:Action="http://services.ws.bds.com/IbMensajesWS/marcarMensajeLeidoRequest" message="tns:marcarMensajeLeido"/>
<output wsam:Action="http://services.ws.bds.com/IbMensajesWS/marcarMensajeLeidoResponse" message="tns:marcarMensajeLeidoResponse"/>
</operation>
<operation name="mensajeUsuarioLeido">
<input wsam:Action="http://services.ws.bds.com/IbMensajesWS/mensajeUsuarioLeidoRequest" message="tns:mensajeUsuarioLeido"/>
<output wsam:Action="http://services.ws.bds.com/IbMensajesWS/mensajeUsuarioLeidoResponse" message="tns:mensajeUsuarioLeidoResponse"/>
</operation>
<operation name="consultarMensajesEmpresa">
<input wsam:Action="http://services.ws.bds.com/IbMensajesWS/consultarMensajesEmpresaRequest" message="tns:consultarMensajesEmpresa"/>
<output wsam:Action="http://services.ws.bds.com/IbMensajesWS/consultarMensajesEmpresaResponse" message="tns:consultarMensajesEmpresaResponse"/>
</operation>
</portType>
<binding name="IbMensajesWSPortBinding" type="tns:IbMensajesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cantNuevosMsjsUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarMensajesUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="marcarMensajeLeido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mensajeUsuarioLeido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarMensajesEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IbMensajesWS">
<port name="IbMensajesWSPort" binding="tns:IbMensajesWSPortBinding">
<soap:address location="http://localhost:7003/ibdsws/IbMensajesWS"/>
</port>
</service>
</definitions>