src/conf/xml-resources/web-service-references/NotificacionesWs/wsdl/localhost_7003/ibdsws/NotificacionesWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="NotificacionesWs">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/NotificacionesWs?xsd=1"/>
</xsd:schema>
</types>
<message name="enviarSMS">
<part name="parameters" element="tns:enviarSMS"/>
</message>
<message name="enviarSMSResponse">
<part name="parameters" element="tns:enviarSMSResponse"/>
</message>
<message name="enviarEmail">
<part name="parameters" element="tns:enviarEmail"/>
</message>
<message name="enviarEmailResponse">
<part name="parameters" element="tns:enviarEmailResponse"/>
</message>
<message name="validarOTP">
<part name="parameters" element="tns:validarOTP"/>
</message>
<message name="validarOTPResponse">
<part name="parameters" element="tns:validarOTPResponse"/>
</message>
<message name="enviarEmailOTP">
<part name="parameters" element="tns:enviarEmailOTP"/>
</message>
<message name="enviarEmailOTPResponse">
<part name="parameters" element="tns:enviarEmailOTPResponse"/>
</message>
<message name="generarOTP">
<part name="parameters" element="tns:generarOTP"/>
</message>
<message name="generarOTPResponse">
<part name="parameters" element="tns:generarOTPResponse"/>
</message>
<message name="enviarEmailPN">
<part name="parameters" element="tns:enviarEmailPN"/>
</message>
<message name="enviarEmailPNResponse">
<part name="parameters" element="tns:enviarEmailPNResponse"/>
</message>
<message name="generarOTPSinMail">
<part name="parameters" element="tns:generarOTPSinMail"/>
</message>
<message name="generarOTPSinMailResponse">
<part name="parameters" element="tns:generarOTPSinMailResponse"/>
</message>
<message name="enviarEmailPlantilla">
<part name="parameters" element="tns:enviarEmailPlantilla"/>
</message>
<message name="enviarEmailPlantillaResponse">
<part name="parameters" element="tns:enviarEmailPlantillaResponse"/>
</message>
<message name="generarOTPEnviarCorreoPj">
<part name="parameters" element="tns:generarOTPEnviarCorreoPj"/>
</message>
<message name="generarOTPEnviarCorreoPjResponse">
<part name="parameters" element="tns:generarOTPEnviarCorreoPjResponse"/>
</message>
<message name="validarOTPPj">
<part name="parameters" element="tns:validarOTPPj"/>
</message>
<message name="validarOTPPjResponse">
<part name="parameters" element="tns:validarOTPPjResponse"/>
</message>
<portType name="NotificacionesWs">
<operation name="enviarSMS">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarSMSRequest" message="tns:enviarSMS"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarSMSResponse" message="tns:enviarSMSResponse"/>
</operation>
<operation name="enviarEmail">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarEmailRequest" message="tns:enviarEmail"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarEmailResponse" message="tns:enviarEmailResponse"/>
</operation>
<operation name="validarOTP">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/validarOTPRequest" message="tns:validarOTP"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/validarOTPResponse" message="tns:validarOTPResponse"/>
</operation>
<operation name="enviarEmailOTP">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarEmailOTPRequest" message="tns:enviarEmailOTP"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarEmailOTPResponse" message="tns:enviarEmailOTPResponse"/>
</operation>
<operation name="generarOTP">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/generarOTPRequest" message="tns:generarOTP"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/generarOTPResponse" message="tns:generarOTPResponse"/>
</operation>
<operation name="enviarEmailPN">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarEmailPNRequest" message="tns:enviarEmailPN"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarEmailPNResponse" message="tns:enviarEmailPNResponse"/>
</operation>
<operation name="generarOTPSinMail">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/generarOTPSinMailRequest" message="tns:generarOTPSinMail"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/generarOTPSinMailResponse" message="tns:generarOTPSinMailResponse"/>
</operation>
<operation name="enviarEmailPlantilla">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarEmailPlantillaRequest" message="tns:enviarEmailPlantilla"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/enviarEmailPlantillaResponse" message="tns:enviarEmailPlantillaResponse"/>
</operation>
<operation name="generarOTPEnviarCorreoPj">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/generarOTPEnviarCorreoPjRequest" message="tns:generarOTPEnviarCorreoPj"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/generarOTPEnviarCorreoPjResponse" message="tns:generarOTPEnviarCorreoPjResponse"/>
</operation>
<operation name="validarOTPPj">
<input wsam:Action="http://services.ws.bds.com/NotificacionesWs/validarOTPPjRequest" message="tns:validarOTPPj"/>
<output wsam:Action="http://services.ws.bds.com/NotificacionesWs/validarOTPPjResponse" message="tns:validarOTPPjResponse"/>
</operation>
</portType>
<binding name="NotificacionesWsPortBinding" type="tns:NotificacionesWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="enviarSMS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarOTP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarEmailOTP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarOTP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarEmailPN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarOTPSinMail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarEmailPlantilla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarOTPEnviarCorreoPj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarOTPPj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NotificacionesWs">
<port name="NotificacionesWsPort" binding="tns:NotificacionesWsPortBinding">
<soap:address location="http://localhost:7003/ibdsws/NotificacionesWs"/>
</port>
</service>
</definitions>