src/conf/xml-resources/web-service-references/IbUsuariosEventosMediosWS/wsdl/localhost_7001/ibdsws/IbUsuariosEventosMediosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="IbUsuariosEventosMediosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/IbUsuariosEventosMediosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listaMedios">
<part name="parameters" element="tns:listaMedios"/>
</message>
<message name="listaMediosResponse">
<part name="parameters" element="tns:listaMediosResponse"/>
</message>
<message name="listaEventos">
<part name="parameters" element="tns:listaEventos"/>
</message>
<message name="listaEventosResponse">
<part name="parameters" element="tns:listaEventosResponse"/>
</message>
<message name="agregarUsuarioEventosMedios">
<part name="parameters" element="tns:agregarUsuarioEventosMedios"/>
</message>
<message name="agregarUsuarioEventosMediosResponse">
<part name="parameters" element="tns:agregarUsuarioEventosMediosResponse"/>
</message>
<portType name="IbUsuariosEventosMediosWS">
<operation name="listaMedios">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosEventosMediosWS/listaMediosRequest" message="tns:listaMedios"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosEventosMediosWS/listaMediosResponse" message="tns:listaMediosResponse"/>
</operation>
<operation name="listaEventos">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosEventosMediosWS/listaEventosRequest" message="tns:listaEventos"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosEventosMediosWS/listaEventosResponse" message="tns:listaEventosResponse"/>
</operation>
<operation name="agregarUsuarioEventosMedios">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosEventosMediosWS/agregarUsuarioEventosMediosRequest" message="tns:agregarUsuarioEventosMedios"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosEventosMediosWS/agregarUsuarioEventosMediosResponse" message="tns:agregarUsuarioEventosMediosResponse"/>
</operation>
</portType>
<binding name="IbUsuariosEventosMediosWSPortBinding" type="tns:IbUsuariosEventosMediosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listaMedios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaEventos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarUsuarioEventosMedios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IbUsuariosEventosMediosWS">
<port name="IbUsuariosEventosMediosWSPort" binding="tns:IbUsuariosEventosMediosWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/IbUsuariosEventosMediosWS"/>
</port>
</service>
</definitions>