src/conf/xml-resources/web-service-references/TddWS/wsdl/localhost_7001/ibdsws/TddWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="TddWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/TddWS?xsd=1"/>
</xsd:schema>
</types>
<message name="bloquearTDD">
<part name="parameters" element="tns:bloquearTDD"/>
</message>
<message name="bloquearTDDResponse">
<part name="parameters" element="tns:bloquearTDDResponse"/>
</message>
<message name="validarTDD">
<part name="parameters" element="tns:validarTDD"/>
</message>
<message name="validarTDDResponse">
<part name="parameters" element="tns:validarTDDResponse"/>
</message>
<message name="obtenerDatosTDD">
<part name="parameters" element="tns:obtenerDatosTDD"/>
</message>
<message name="obtenerDatosTDDResponse">
<part name="parameters" element="tns:obtenerDatosTDDResponse"/>
</message>
<message name="obtenerListadoTDDCliente">
<part name="parameters" element="tns:obtenerListadoTDDCliente"/>
</message>
<message name="obtenerListadoTDDClienteResponse">
<part name="parameters" element="tns:obtenerListadoTDDClienteResponse"/>
</message>
<message name="obtenerClienteTarjeta">
<part name="parameters" element="tns:obtenerClienteTarjeta"/>
</message>
<message name="obtenerClienteTarjetaResponse">
<part name="parameters" element="tns:obtenerClienteTarjetaResponse"/>
</message>
<portType name="TddWS">
<operation name="bloquearTDD">
<input wsam:Action="http://services.ws.bds.com/TddWS/bloquearTDDRequest" message="tns:bloquearTDD"/>
<output wsam:Action="http://services.ws.bds.com/TddWS/bloquearTDDResponse" message="tns:bloquearTDDResponse"/>
</operation>
<operation name="validarTDD">
<input wsam:Action="http://services.ws.bds.com/TddWS/validarTDDRequest" message="tns:validarTDD"/>
<output wsam:Action="http://services.ws.bds.com/TddWS/validarTDDResponse" message="tns:validarTDDResponse"/>
</operation>
<operation name="obtenerDatosTDD">
<input wsam:Action="http://services.ws.bds.com/TddWS/obtenerDatosTDDRequest" message="tns:obtenerDatosTDD"/>
<output wsam:Action="http://services.ws.bds.com/TddWS/obtenerDatosTDDResponse" message="tns:obtenerDatosTDDResponse"/>
</operation>
<operation name="obtenerListadoTDDCliente">
<input wsam:Action="http://services.ws.bds.com/TddWS/obtenerListadoTDDClienteRequest" message="tns:obtenerListadoTDDCliente"/>
<output wsam:Action="http://services.ws.bds.com/TddWS/obtenerListadoTDDClienteResponse" message="tns:obtenerListadoTDDClienteResponse"/>
</operation>
<operation name="obtenerClienteTarjeta">
<input wsam:Action="http://services.ws.bds.com/TddWS/obtenerClienteTarjetaRequest" message="tns:obtenerClienteTarjeta"/>
<output wsam:Action="http://services.ws.bds.com/TddWS/obtenerClienteTarjetaResponse" message="tns:obtenerClienteTarjetaResponse"/>
</operation>
</portType>
<binding name="TddWSPortBinding" type="tns:TddWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bloquearTDD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarTDD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosTDD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerListadoTDDCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerClienteTarjeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TddWS">
<port name="TddWSPort" binding="tns:TddWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/TddWS"/>
</port>
</service>
</definitions>