web/WEB-INF/wsdl/localhost_7003/ibdsws/ClienteWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="ClienteWs">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/ClienteWs?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarDatosContacto">
<part name="parameters" element="tns:actualizarDatosContacto"/>
</message>
<message name="actualizarDatosContactoResponse">
<part name="parameters" element="tns:actualizarDatosContactoResponse"/>
</message>
<message name="validarClaveFondo">
<part name="parameters" element="tns:validarClaveFondo"/>
</message>
<message name="validarClaveFondoResponse">
<part name="parameters" element="tns:validarClaveFondoResponse"/>
</message>
<message name="obtenerCodCliente">
<part name="parameters" element="tns:obtenerCodCliente"/>
</message>
<message name="obtenerCodClienteResponse">
<part name="parameters" element="tns:obtenerCodClienteResponse"/>
</message>
<message name="validarIdentificacionCuenta">
<part name="parameters" element="tns:validarIdentificacionCuenta"/>
</message>
<message name="validarIdentificacionCuentaResponse">
<part name="parameters" element="tns:validarIdentificacionCuentaResponse"/>
</message>
<message name="posicionConsolidadaCliente">
<part name="parameters" element="tns:posicionConsolidadaCliente"/>
</message>
<message name="posicionConsolidadaClienteResponse">
<part name="parameters" element="tns:posicionConsolidadaClienteResponse"/>
</message>
<message name="validarProductoCliente">
<part name="parameters" element="tns:validarProductoCliente"/>
</message>
<message name="validarProductoClienteResponse">
<part name="parameters" element="tns:validarProductoClienteResponse"/>
</message>
<message name="datosCliente">
<part name="parameters" element="tns:datosCliente"/>
</message>
<message name="datosClienteResponse">
<part name="parameters" element="tns:datosClienteResponse"/>
</message>
<message name="validarCliente">
<part name="parameters" element="tns:validarCliente"/>
</message>
<message name="validarClienteResponse">
<part name="parameters" element="tns:validarClienteResponse"/>
</message>
<message name="validarRif">
<part name="parameters" element="tns:validarRif"/>
</message>
<message name="validarRifResponse">
<part name="parameters" element="tns:validarRifResponse"/>
</message>
<portType name="ClienteWs">
<operation name="actualizarDatosContacto">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/actualizarDatosContactoRequest" message="tns:actualizarDatosContacto"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/actualizarDatosContactoResponse" message="tns:actualizarDatosContactoResponse"/>
</operation>
<operation name="validarClaveFondo">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/validarClaveFondoRequest" message="tns:validarClaveFondo"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/validarClaveFondoResponse" message="tns:validarClaveFondoResponse"/>
</operation>
<operation name="obtenerCodCliente">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/obtenerCodClienteRequest" message="tns:obtenerCodCliente"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/obtenerCodClienteResponse" message="tns:obtenerCodClienteResponse"/>
</operation>
<operation name="validarIdentificacionCuenta">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/validarIdentificacionCuentaRequest" message="tns:validarIdentificacionCuenta"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/validarIdentificacionCuentaResponse" message="tns:validarIdentificacionCuentaResponse"/>
</operation>
<operation name="posicionConsolidadaCliente">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/posicionConsolidadaClienteRequest" message="tns:posicionConsolidadaCliente"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/posicionConsolidadaClienteResponse" message="tns:posicionConsolidadaClienteResponse"/>
</operation>
<operation name="validarProductoCliente">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/validarProductoClienteRequest" message="tns:validarProductoCliente"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/validarProductoClienteResponse" message="tns:validarProductoClienteResponse"/>
</operation>
<operation name="datosCliente">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/datosClienteRequest" message="tns:datosCliente"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/datosClienteResponse" message="tns:datosClienteResponse"/>
</operation>
<operation name="validarCliente">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/validarClienteRequest" message="tns:validarCliente"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/validarClienteResponse" message="tns:validarClienteResponse"/>
</operation>
<operation name="validarRif">
<input wsam:Action="http://services.ws.bds.com/ClienteWs/validarRifRequest" message="tns:validarRif"/>
<output wsam:Action="http://services.ws.bds.com/ClienteWs/validarRifResponse" message="tns:validarRifResponse"/>
</operation>
</portType>
<binding name="ClienteWsPortBinding" type="tns:ClienteWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarDatosContacto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarClaveFondo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerCodCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarIdentificacionCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="posicionConsolidadaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarProductoCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarRif">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClienteWs">
<port name="ClienteWsPort" binding="tns:ClienteWsPortBinding">
<soap:address location="http://localhost:7003/ibdsws/ClienteWs"/>
</port>
</service>
</definitions>