web/WEB-INF/wsdl/localhost_7003/ibdsws/CuentaWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="CuentaWs">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/CuentaWs?xsd=1"/>
</xsd:schema>
</types>
<message name="listadoCuentasCliente">
<part name="parameters" element="tns:listadoCuentasCliente"/>
</message>
<message name="listadoCuentasClienteResponse">
<part name="parameters" element="tns:listadoCuentasClienteResponse"/>
</message>
<message name="listadoMovimientosCuenta">
<part name="parameters" element="tns:listadoMovimientosCuenta"/>
</message>
<message name="listadoMovimientosCuentaResponse">
<part name="parameters" element="tns:listadoMovimientosCuentaResponse"/>
</message>
<message name="validarCuentaEmpresaCliente">
<part name="parameters" element="tns:validarCuentaEmpresaCliente"/>
</message>
<message name="validarCuentaEmpresaClienteResponse">
<part name="parameters" element="tns:validarCuentaEmpresaClienteResponse"/>
</message>
<message name="listarMovimientosPorTransaccion">
<part name="parameters" element="tns:listarMovimientosPorTransaccion"/>
</message>
<message name="listarMovimientosPorTransaccionResponse">
<part name="parameters" element="tns:listarMovimientosPorTransaccionResponse"/>
</message>
<message name="listarCuentasActivasClientePj">
<part name="parameters" element="tns:listarCuentasActivasClientePj"/>
</message>
<message name="listarCuentasActivasClientePjResponse">
<part name="parameters" element="tns:listarCuentasActivasClientePjResponse"/>
</message>
<message name="listadoTransaccionesCuentas">
<part name="parameters" element="tns:listadoTransaccionesCuentas"/>
</message>
<message name="listadoTransaccionesCuentasResponse">
<part name="parameters" element="tns:listadoTransaccionesCuentasResponse"/>
</message>
<message name="detalleMovimientoCuenta">
<part name="parameters" element="tns:detalleMovimientoCuenta"/>
</message>
<message name="detalleMovimientoCuentaResponse">
<part name="parameters" element="tns:detalleMovimientoCuentaResponse"/>
</message>
<message name="listadoSaldoDiferidoCuenta">
<part name="parameters" element="tns:listadoSaldoDiferidoCuenta"/>
</message>
<message name="listadoSaldoDiferidoCuentaResponse">
<part name="parameters" element="tns:listadoSaldoDiferidoCuentaResponse"/>
</message>
<message name="listarChequerasEntregadas">
<part name="parameters" element="tns:listarChequerasEntregadas"/>
</message>
<message name="listarChequerasEntregadasResponse">
<part name="parameters" element="tns:listarChequerasEntregadasResponse"/>
</message>
<message name="listadoSaldoBloqueadoCuenta">
<part name="parameters" element="tns:listadoSaldoBloqueadoCuenta"/>
</message>
<message name="listadoSaldoBloqueadoCuentaResponse">
<part name="parameters" element="tns:listadoSaldoBloqueadoCuentaResponse"/>
</message>
<message name="obtenerSaldoDisponibleCta">
<part name="parameters" element="tns:obtenerSaldoDisponibleCta"/>
</message>
<message name="obtenerSaldoDisponibleCtaResponse">
<part name="parameters" element="tns:obtenerSaldoDisponibleCtaResponse"/>
</message>
<message name="listarChequesChequera">
<part name="parameters" element="tns:listarChequesChequera"/>
</message>
<message name="listarChequesChequeraResponse">
<part name="parameters" element="tns:listarChequesChequeraResponse"/>
</message>
<message name="suspenderChequeras">
<part name="parameters" element="tns:suspenderChequeras"/>
</message>
<message name="suspenderChequerasResponse">
<part name="parameters" element="tns:suspenderChequerasResponse"/>
</message>
<message name="solicitarChequeras">
<part name="parameters" element="tns:solicitarChequeras"/>
</message>
<message name="solicitarChequerasResponse">
<part name="parameters" element="tns:solicitarChequerasResponse"/>
</message>
<message name="listCuentasActivasCanceladas">
<part name="parameters" element="tns:listCuentasActivasCanceladas"/>
</message>
<message name="listCuentasActivasCanceladasResponse">
<part name="parameters" element="tns:listCuentasActivasCanceladasResponse"/>
</message>
<message name="estadoCuenta">
<part name="parameters" element="tns:estadoCuenta"/>
</message>
<message name="estadoCuentaResponse">
<part name="parameters" element="tns:estadoCuentaResponse"/>
</message>
<message name="detalleCuenta">
<part name="parameters" element="tns:detalleCuenta"/>
</message>
<message name="detalleCuentaResponse">
<part name="parameters" element="tns:detalleCuentaResponse"/>
</message>
<message name="listarCheques">
<part name="parameters" element="tns:listarCheques"/>
</message>
<message name="listarChequesResponse">
<part name="parameters" element="tns:listarChequesResponse"/>
</message>
<message name="validarCtaBeneficiario">
<part name="parameters" element="tns:validarCtaBeneficiario"/>
</message>
<message name="validarCtaBeneficiarioResponse">
<part name="parameters" element="tns:validarCtaBeneficiarioResponse"/>
</message>
<portType name="CuentaWs">
<operation name="listadoCuentasCliente">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listadoCuentasClienteRequest" message="tns:listadoCuentasCliente"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listadoCuentasClienteResponse" message="tns:listadoCuentasClienteResponse"/>
</operation>
<operation name="listadoMovimientosCuenta">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listadoMovimientosCuentaRequest" message="tns:listadoMovimientosCuenta"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listadoMovimientosCuentaResponse" message="tns:listadoMovimientosCuentaResponse"/>
</operation>
<operation name="validarCuentaEmpresaCliente">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/validarCuentaEmpresaClienteRequest" message="tns:validarCuentaEmpresaCliente"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/validarCuentaEmpresaClienteResponse" message="tns:validarCuentaEmpresaClienteResponse"/>
</operation>
<operation name="listarMovimientosPorTransaccion">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listarMovimientosPorTransaccionRequest" message="tns:listarMovimientosPorTransaccion"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listarMovimientosPorTransaccionResponse" message="tns:listarMovimientosPorTransaccionResponse"/>
</operation>
<operation name="listarCuentasActivasClientePj">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listarCuentasActivasClientePjRequest" message="tns:listarCuentasActivasClientePj"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listarCuentasActivasClientePjResponse" message="tns:listarCuentasActivasClientePjResponse"/>
</operation>
<operation name="listadoTransaccionesCuentas">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listadoTransaccionesCuentasRequest" message="tns:listadoTransaccionesCuentas"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listadoTransaccionesCuentasResponse" message="tns:listadoTransaccionesCuentasResponse"/>
</operation>
<operation name="detalleMovimientoCuenta">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/detalleMovimientoCuentaRequest" message="tns:detalleMovimientoCuenta"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/detalleMovimientoCuentaResponse" message="tns:detalleMovimientoCuentaResponse"/>
</operation>
<operation name="listadoSaldoDiferidoCuenta">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listadoSaldoDiferidoCuentaRequest" message="tns:listadoSaldoDiferidoCuenta"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listadoSaldoDiferidoCuentaResponse" message="tns:listadoSaldoDiferidoCuentaResponse"/>
</operation>
<operation name="listarChequerasEntregadas">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listarChequerasEntregadasRequest" message="tns:listarChequerasEntregadas"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listarChequerasEntregadasResponse" message="tns:listarChequerasEntregadasResponse"/>
</operation>
<operation name="listadoSaldoBloqueadoCuenta">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listadoSaldoBloqueadoCuentaRequest" message="tns:listadoSaldoBloqueadoCuenta"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listadoSaldoBloqueadoCuentaResponse" message="tns:listadoSaldoBloqueadoCuentaResponse"/>
</operation>
<operation name="obtenerSaldoDisponibleCta">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/obtenerSaldoDisponibleCtaRequest" message="tns:obtenerSaldoDisponibleCta"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/obtenerSaldoDisponibleCtaResponse" message="tns:obtenerSaldoDisponibleCtaResponse"/>
</operation>
<operation name="listarChequesChequera">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listarChequesChequeraRequest" message="tns:listarChequesChequera"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listarChequesChequeraResponse" message="tns:listarChequesChequeraResponse"/>
</operation>
<operation name="suspenderChequeras">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/suspenderChequerasRequest" message="tns:suspenderChequeras"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/suspenderChequerasResponse" message="tns:suspenderChequerasResponse"/>
</operation>
<operation name="solicitarChequeras">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/solicitarChequerasRequest" message="tns:solicitarChequeras"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/solicitarChequerasResponse" message="tns:solicitarChequerasResponse"/>
</operation>
<operation name="listCuentasActivasCanceladas">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listCuentasActivasCanceladasRequest" message="tns:listCuentasActivasCanceladas"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listCuentasActivasCanceladasResponse" message="tns:listCuentasActivasCanceladasResponse"/>
</operation>
<operation name="estadoCuenta">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/estadoCuentaRequest" message="tns:estadoCuenta"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/estadoCuentaResponse" message="tns:estadoCuentaResponse"/>
</operation>
<operation name="detalleCuenta">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/detalleCuentaRequest" message="tns:detalleCuenta"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/detalleCuentaResponse" message="tns:detalleCuentaResponse"/>
</operation>
<operation name="listarCheques">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/listarChequesRequest" message="tns:listarCheques"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/listarChequesResponse" message="tns:listarChequesResponse"/>
</operation>
<operation name="validarCtaBeneficiario">
<input wsam:Action="http://services.ws.bds.com/CuentaWs/validarCtaBeneficiarioRequest" message="tns:validarCtaBeneficiario"/>
<output wsam:Action="http://services.ws.bds.com/CuentaWs/validarCtaBeneficiarioResponse" message="tns:validarCtaBeneficiarioResponse"/>
</operation>
</portType>
<binding name="CuentaWsPortBinding" type="tns:CuentaWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listadoCuentasCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoMovimientosCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarCuentaEmpresaCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarMovimientosPorTransaccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCuentasActivasClientePj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoTransaccionesCuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detalleMovimientoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoSaldoDiferidoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarChequerasEntregadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoSaldoBloqueadoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerSaldoDisponibleCta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarChequesChequera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suspenderChequeras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitarChequeras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listCuentasActivasCanceladas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="estadoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detalleCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCheques">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarCtaBeneficiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CuentaWs">
<port name="CuentaWsPort" binding="tns:CuentaWsPortBinding">
<soap:address location="http://localhost:7003/ibdsws/CuentaWs"/>
</port>
</service>
</definitions>