web/WEB-INF/wsdl/localhost_7003/ibdsws/DelSurWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="DelSurWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/DelSurWS?xsd=1"/>
</xsd:schema>
</types>
<message name="validarUsuarioPilotoP2P">
<part name="parameters" element="tns:validarUsuarioPilotoP2P"/>
</message>
<message name="validarUsuarioPilotoP2PResponse">
<part name="parameters" element="tns:validarUsuarioPilotoP2PResponse"/>
</message>
<message name="verificarBloqueBanco">
<part name="parameters" element="tns:verificarBloqueBanco"/>
</message>
<message name="verificarBloqueBancoResponse">
<part name="parameters" element="tns:verificarBloqueBancoResponse"/>
</message>
<message name="listadoBancosSwitch7B">
<part name="parameters" element="tns:listadoBancosSwitch7B"/>
</message>
<message name="listadoBancosSwitch7BResponse">
<part name="parameters" element="tns:listadoBancosSwitch7BResponse"/>
</message>
<message name="listadoBancos">
<part name="parameters" element="tns:listadoBancos"/>
</message>
<message name="listadoBancosResponse">
<part name="parameters" element="tns:listadoBancosResponse"/>
</message>
<message name="obtenerDatosEstadoAgencias">
<part name="parameters" element="tns:obtenerDatosEstadoAgencias"/>
</message>
<message name="obtenerDatosEstadoAgenciasResponse">
<part name="parameters" element="tns:obtenerDatosEstadoAgenciasResponse"/>
</message>
<message name="buscarDiasFeriados">
<part name="parameters" element="tns:buscarDiasFeriados"/>
</message>
<message name="buscarDiasFeriadosResponse">
<part name="parameters" element="tns:buscarDiasFeriadosResponse"/>
</message>
<portType name="DelSurWS">
<operation name="validarUsuarioPilotoP2P">
<input wsam:Action="http://services.ws.bds.com/DelSurWS/validarUsuarioPilotoP2PRequest" message="tns:validarUsuarioPilotoP2P"/>
<output wsam:Action="http://services.ws.bds.com/DelSurWS/validarUsuarioPilotoP2PResponse" message="tns:validarUsuarioPilotoP2PResponse"/>
</operation>
<operation name="verificarBloqueBanco">
<input wsam:Action="http://services.ws.bds.com/DelSurWS/verificarBloqueBancoRequest" message="tns:verificarBloqueBanco"/>
<output wsam:Action="http://services.ws.bds.com/DelSurWS/verificarBloqueBancoResponse" message="tns:verificarBloqueBancoResponse"/>
</operation>
<operation name="listadoBancosSwitch7B">
<input wsam:Action="http://services.ws.bds.com/DelSurWS/listadoBancosSwitch7BRequest" message="tns:listadoBancosSwitch7B"/>
<output wsam:Action="http://services.ws.bds.com/DelSurWS/listadoBancosSwitch7BResponse" message="tns:listadoBancosSwitch7BResponse"/>
</operation>
<operation name="listadoBancos">
<input wsam:Action="http://services.ws.bds.com/DelSurWS/listadoBancosRequest" message="tns:listadoBancos"/>
<output wsam:Action="http://services.ws.bds.com/DelSurWS/listadoBancosResponse" message="tns:listadoBancosResponse"/>
</operation>
<operation name="obtenerDatosEstadoAgencias">
<input wsam:Action="http://services.ws.bds.com/DelSurWS/obtenerDatosEstadoAgenciasRequest" message="tns:obtenerDatosEstadoAgencias"/>
<output wsam:Action="http://services.ws.bds.com/DelSurWS/obtenerDatosEstadoAgenciasResponse" message="tns:obtenerDatosEstadoAgenciasResponse"/>
</operation>
<operation name="buscarDiasFeriados">
<input wsam:Action="http://services.ws.bds.com/DelSurWS/buscarDiasFeriadosRequest" message="tns:buscarDiasFeriados"/>
<output wsam:Action="http://services.ws.bds.com/DelSurWS/buscarDiasFeriadosResponse" message="tns:buscarDiasFeriadosResponse"/>
</operation>
</portType>
<binding name="DelSurWSPortBinding" type="tns:DelSurWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarUsuarioPilotoP2P">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarBloqueBanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoBancosSwitch7B">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoBancos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerDatosEstadoAgencias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDiasFeriados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DelSurWS">
<port name="DelSurWSPort" binding="tns:DelSurWSPortBinding">
<soap:address location="http://localhost:7003/ibdsws/DelSurWS"/>
</port>
</service>
</definitions>