web/WEB-INF/wsdl/localhost_7003/ibdsws/IbAfiliacionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="IbAfiliacionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/IbAfiliacionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerListadoAfiliadosPorOperacion">
<part name="parameters" element="tns:obtenerListadoAfiliadosPorOperacion"/>
</message>
<message name="obtenerListadoAfiliadosPorOperacionResponse">
<part name="parameters" element="tns:obtenerListadoAfiliadosPorOperacionResponse"/>
</message>
<message name="obtenerAfiliacionPorId">
<part name="parameters" element="tns:obtenerAfiliacionPorId"/>
</message>
<message name="obtenerAfiliacionPorIdResponse">
<part name="parameters" element="tns:obtenerAfiliacionPorIdResponse"/>
</message>
<message name="deshabilitarAfiliacion">
<part name="parameters" element="tns:deshabilitarAfiliacion"/>
</message>
<message name="deshabilitarAfiliacionResponse">
<part name="parameters" element="tns:deshabilitarAfiliacionResponse"/>
</message>
<message name="insertarAfiliacion">
<part name="parameters" element="tns:insertarAfiliacion"/>
</message>
<message name="insertarAfiliacionResponse">
<part name="parameters" element="tns:insertarAfiliacionResponse"/>
</message>
<message name="afiliacionesOperacionCodUsuario">
<part name="parameters" element="tns:afiliacionesOperacionCodUsuario"/>
</message>
<message name="afiliacionesOperacionCodUsuarioResponse">
<part name="parameters" element="tns:afiliacionesOperacionCodUsuarioResponse"/>
</message>
<message name="verificarProducto">
<part name="parameters" element="tns:verificarProducto"/>
</message>
<message name="verificarProductoResponse">
<part name="parameters" element="tns:verificarProductoResponse"/>
</message>
<message name="modeloTransBeneficiario">
<part name="parameters" element="tns:modeloTransBeneficiario"/>
</message>
<message name="modeloTransBeneficiarioResponse">
<part name="parameters" element="tns:modeloTransBeneficiarioResponse"/>
</message>
<message name="actualizarAfiliacion">
<part name="parameters" element="tns:actualizarAfiliacion"/>
</message>
<message name="actualizarAfiliacionResponse">
<part name="parameters" element="tns:actualizarAfiliacionResponse"/>
</message>
<message name="verificarAlias">
<part name="parameters" element="tns:verificarAlias"/>
</message>
<message name="verificarAliasResponse">
<part name="parameters" element="tns:verificarAliasResponse"/>
</message>
<portType name="IbAfiliacionWS">
<operation name="obtenerListadoAfiliadosPorOperacion">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/obtenerListadoAfiliadosPorOperacionRequest" message="tns:obtenerListadoAfiliadosPorOperacion"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/obtenerListadoAfiliadosPorOperacionResponse" message="tns:obtenerListadoAfiliadosPorOperacionResponse"/>
</operation>
<operation name="obtenerAfiliacionPorId">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/obtenerAfiliacionPorIdRequest" message="tns:obtenerAfiliacionPorId"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/obtenerAfiliacionPorIdResponse" message="tns:obtenerAfiliacionPorIdResponse"/>
</operation>
<operation name="deshabilitarAfiliacion">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/deshabilitarAfiliacionRequest" message="tns:deshabilitarAfiliacion"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/deshabilitarAfiliacionResponse" message="tns:deshabilitarAfiliacionResponse"/>
</operation>
<operation name="insertarAfiliacion">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/insertarAfiliacionRequest" message="tns:insertarAfiliacion"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/insertarAfiliacionResponse" message="tns:insertarAfiliacionResponse"/>
</operation>
<operation name="afiliacionesOperacionCodUsuario">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/afiliacionesOperacionCodUsuarioRequest" message="tns:afiliacionesOperacionCodUsuario"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/afiliacionesOperacionCodUsuarioResponse" message="tns:afiliacionesOperacionCodUsuarioResponse"/>
</operation>
<operation name="verificarProducto">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/verificarProductoRequest" message="tns:verificarProducto"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/verificarProductoResponse" message="tns:verificarProductoResponse"/>
</operation>
<operation name="modeloTransBeneficiario">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/modeloTransBeneficiarioRequest" message="tns:modeloTransBeneficiario"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/modeloTransBeneficiarioResponse" message="tns:modeloTransBeneficiarioResponse"/>
</operation>
<operation name="actualizarAfiliacion">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/actualizarAfiliacionRequest" message="tns:actualizarAfiliacion"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/actualizarAfiliacionResponse" message="tns:actualizarAfiliacionResponse"/>
</operation>
<operation name="verificarAlias">
<input wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/verificarAliasRequest" message="tns:verificarAlias"/>
<output wsam:Action="http://services.ws.bds.com/IbAfiliacionWS/verificarAliasResponse" message="tns:verificarAliasResponse"/>
</operation>
</portType>
<binding name="IbAfiliacionWSPortBinding" type="tns:IbAfiliacionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerListadoAfiliadosPorOperacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAfiliacionPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deshabilitarAfiliacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarAfiliacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="afiliacionesOperacionCodUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modeloTransBeneficiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarAfiliacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarAlias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IbAfiliacionWS">
<port name="IbAfiliacionWSPort" binding="tns:IbAfiliacionWSPortBinding">
<soap:address location="http://localhost:7003/ibdsws/IbAfiliacionWS"/>
</port>
</service>
</definitions>