web/WEB-INF/wsdl/localhost_7003/ibdsws/IbClavesOperacionesEspecialesWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="IbClavesOperacionesEspecialesWs">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/IbClavesOperacionesEspecialesWs?xsd=1"/>
</xsd:schema>
</types>
<message name="validarClaveOP">
<part name="parameters" element="tns:validarClaveOP"/>
</message>
<message name="validarClaveOPResponse">
<part name="parameters" element="tns:validarClaveOPResponse"/>
</message>
<message name="validarExisteClaveOperacionesEspeciales">
<part name="parameters" element="tns:validarExisteClaveOperacionesEspeciales"/>
</message>
<message name="validarExisteClaveOperacionesEspecialesResponse">
<part name="parameters" element="tns:validarExisteClaveOperacionesEspecialesResponse"/>
</message>
<message name="insertarActualizarClaveOP">
<part name="parameters" element="tns:insertarActualizarClaveOP"/>
</message>
<message name="insertarActualizarClaveOPResponse">
<part name="parameters" element="tns:insertarActualizarClaveOPResponse"/>
</message>
<portType name="IbClavesOperacionesEspecialesWs">
<operation name="validarClaveOP">
<input wsam:Action="http://services.ws.bds.com/IbClavesOperacionesEspecialesWs/validarClaveOPRequest" message="tns:validarClaveOP"/>
<output wsam:Action="http://services.ws.bds.com/IbClavesOperacionesEspecialesWs/validarClaveOPResponse" message="tns:validarClaveOPResponse"/>
</operation>
<operation name="validarExisteClaveOperacionesEspeciales">
<input wsam:Action="http://services.ws.bds.com/IbClavesOperacionesEspecialesWs/validarExisteClaveOperacionesEspecialesRequest" message="tns:validarExisteClaveOperacionesEspeciales"/>
<output wsam:Action="http://services.ws.bds.com/IbClavesOperacionesEspecialesWs/validarExisteClaveOperacionesEspecialesResponse" message="tns:validarExisteClaveOperacionesEspecialesResponse"/>
</operation>
<operation name="insertarActualizarClaveOP">
<input wsam:Action="http://services.ws.bds.com/IbClavesOperacionesEspecialesWs/insertarActualizarClaveOPRequest" message="tns:insertarActualizarClaveOP"/>
<output wsam:Action="http://services.ws.bds.com/IbClavesOperacionesEspecialesWs/insertarActualizarClaveOPResponse" message="tns:insertarActualizarClaveOPResponse"/>
</operation>
</portType>
<binding name="IbClavesOperacionesEspecialesWsPortBinding" type="tns:IbClavesOperacionesEspecialesWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarClaveOP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarExisteClaveOperacionesEspeciales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarActualizarClaveOP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IbClavesOperacionesEspecialesWs">
<port name="IbClavesOperacionesEspecialesWsPort" binding="tns:IbClavesOperacionesEspecialesWsPortBinding">
<soap:address location="http://localhost:7003/ibdsws/IbClavesOperacionesEspecialesWs"/>
</port>
</service>
</definitions>