web/WEB-INF/wsdl/localhost_7003/ibdsws/PrestamoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="PrestamoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/PrestamoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerAmortizMov">
<part name="parameters" element="tns:obtenerAmortizMov"/>
</message>
<message name="obtenerAmortizMovResponse">
<part name="parameters" element="tns:obtenerAmortizMovResponse"/>
</message>
<message name="obtenerSaldoExigible">
<part name="parameters" element="tns:obtenerSaldoExigible"/>
</message>
<message name="obtenerSaldoExigibleResponse">
<part name="parameters" element="tns:obtenerSaldoExigibleResponse"/>
</message>
<message name="obtenerAmortizDet">
<part name="parameters" element="tns:obtenerAmortizDet"/>
</message>
<message name="obtenerAmortizDetResponse">
<part name="parameters" element="tns:obtenerAmortizDetResponse"/>
</message>
<message name="detallePrestamo">
<part name="parameters" element="tns:detallePrestamo"/>
</message>
<message name="detallePrestamoResponse">
<part name="parameters" element="tns:detallePrestamoResponse"/>
</message>
<message name="listadoPrestamosCliente">
<part name="parameters" element="tns:listadoPrestamosCliente"/>
</message>
<message name="listadoPrestamosClienteResponse">
<part name="parameters" element="tns:listadoPrestamosClienteResponse"/>
</message>
<message name="listadoPagosPrestamo">
<part name="parameters" element="tns:listadoPagosPrestamo"/>
</message>
<message name="listadoPagosPrestamoResponse">
<part name="parameters" element="tns:listadoPagosPrestamoResponse"/>
</message>
<message name="listadoPrestamosClienteAP">
<part name="parameters" element="tns:listadoPrestamosClienteAP"/>
</message>
<message name="listadoPrestamosClienteAPResponse">
<part name="parameters" element="tns:listadoPrestamosClienteAPResponse"/>
</message>
<message name="aplicarPagoPrestamo">
<part name="parameters" element="tns:aplicarPagoPrestamo"/>
</message>
<message name="aplicarPagoPrestamoResponse">
<part name="parameters" element="tns:aplicarPagoPrestamoResponse"/>
</message>
<portType name="PrestamoWS">
<operation name="obtenerAmortizMov">
<input wsam:Action="http://services.ws.bds.com/PrestamoWS/obtenerAmortizMovRequest" message="tns:obtenerAmortizMov"/>
<output wsam:Action="http://services.ws.bds.com/PrestamoWS/obtenerAmortizMovResponse" message="tns:obtenerAmortizMovResponse"/>
</operation>
<operation name="obtenerSaldoExigible">
<input wsam:Action="http://services.ws.bds.com/PrestamoWS/obtenerSaldoExigibleRequest" message="tns:obtenerSaldoExigible"/>
<output wsam:Action="http://services.ws.bds.com/PrestamoWS/obtenerSaldoExigibleResponse" message="tns:obtenerSaldoExigibleResponse"/>
</operation>
<operation name="obtenerAmortizDet">
<input wsam:Action="http://services.ws.bds.com/PrestamoWS/obtenerAmortizDetRequest" message="tns:obtenerAmortizDet"/>
<output wsam:Action="http://services.ws.bds.com/PrestamoWS/obtenerAmortizDetResponse" message="tns:obtenerAmortizDetResponse"/>
</operation>
<operation name="detallePrestamo">
<input wsam:Action="http://services.ws.bds.com/PrestamoWS/detallePrestamoRequest" message="tns:detallePrestamo"/>
<output wsam:Action="http://services.ws.bds.com/PrestamoWS/detallePrestamoResponse" message="tns:detallePrestamoResponse"/>
</operation>
<operation name="listadoPrestamosCliente">
<input wsam:Action="http://services.ws.bds.com/PrestamoWS/listadoPrestamosClienteRequest" message="tns:listadoPrestamosCliente"/>
<output wsam:Action="http://services.ws.bds.com/PrestamoWS/listadoPrestamosClienteResponse" message="tns:listadoPrestamosClienteResponse"/>
</operation>
<operation name="listadoPagosPrestamo">
<input wsam:Action="http://services.ws.bds.com/PrestamoWS/listadoPagosPrestamoRequest" message="tns:listadoPagosPrestamo"/>
<output wsam:Action="http://services.ws.bds.com/PrestamoWS/listadoPagosPrestamoResponse" message="tns:listadoPagosPrestamoResponse"/>
</operation>
<operation name="listadoPrestamosClienteAP">
<input wsam:Action="http://services.ws.bds.com/PrestamoWS/listadoPrestamosClienteAPRequest" message="tns:listadoPrestamosClienteAP"/>
<output wsam:Action="http://services.ws.bds.com/PrestamoWS/listadoPrestamosClienteAPResponse" message="tns:listadoPrestamosClienteAPResponse"/>
</operation>
<operation name="aplicarPagoPrestamo">
<input wsam:Action="http://services.ws.bds.com/PrestamoWS/aplicarPagoPrestamoRequest" message="tns:aplicarPagoPrestamo"/>
<output wsam:Action="http://services.ws.bds.com/PrestamoWS/aplicarPagoPrestamoResponse" message="tns:aplicarPagoPrestamoResponse"/>
</operation>
</portType>
<binding name="PrestamoWSPortBinding" type="tns:PrestamoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerAmortizMov">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerSaldoExigible">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerAmortizDet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detallePrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoPrestamosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoPagosPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoPrestamosClienteAP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aplicarPagoPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PrestamoWS">
<port name="PrestamoWSPort" binding="tns:PrestamoWSPortBinding">
<soap:address location="http://localhost:7003/ibdsws/PrestamoWS"/>
</port>
</service>
</definitions>