src/conf/xml-resources/web-service-references/ReclamosWS/wsdl/localhost_7001/ibdsws/ReclamosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="ReclamosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/ReclamosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listadoMovimientosCuenta">
<part name="parameters" element="tns:listadoMovimientosCuenta"/>
</message>
<message name="listadoMovimientosCuentaResponse">
<part name="parameters" element="tns:listadoMovimientosCuentaResponse"/>
</message>
<message name="listadoReclamosPorCliente">
<part name="parameters" element="tns:listadoReclamosPorCliente"/>
</message>
<message name="listadoReclamosPorClienteResponse">
<part name="parameters" element="tns:listadoReclamosPorClienteResponse"/>
</message>
<message name="insertarReclamoClienteTDD">
<part name="parameters" element="tns:insertarReclamoClienteTDD"/>
</message>
<message name="insertarReclamoClienteTDDResponse">
<part name="parameters" element="tns:insertarReclamoClienteTDDResponse"/>
</message>
<message name="obtenerListadoReclamosTDD">
<part name="parameters" element="tns:obtenerListadoReclamosTDD"/>
</message>
<message name="obtenerListadoReclamosTDDResponse">
<part name="parameters" element="tns:obtenerListadoReclamosTDDResponse"/>
</message>
<portType name="ReclamosWS">
<operation name="listadoMovimientosCuenta">
<input wsam:Action="http://services.ws.bds.com/ReclamosWS/listadoMovimientosCuentaRequest" message="tns:listadoMovimientosCuenta"/>
<output wsam:Action="http://services.ws.bds.com/ReclamosWS/listadoMovimientosCuentaResponse" message="tns:listadoMovimientosCuentaResponse"/>
</operation>
<operation name="listadoReclamosPorCliente">
<input wsam:Action="http://services.ws.bds.com/ReclamosWS/listadoReclamosPorClienteRequest" message="tns:listadoReclamosPorCliente"/>
<output wsam:Action="http://services.ws.bds.com/ReclamosWS/listadoReclamosPorClienteResponse" message="tns:listadoReclamosPorClienteResponse"/>
</operation>
<operation name="insertarReclamoClienteTDD">
<input wsam:Action="http://services.ws.bds.com/ReclamosWS/insertarReclamoClienteTDDRequest" message="tns:insertarReclamoClienteTDD"/>
<output wsam:Action="http://services.ws.bds.com/ReclamosWS/insertarReclamoClienteTDDResponse" message="tns:insertarReclamoClienteTDDResponse"/>
</operation>
<operation name="obtenerListadoReclamosTDD">
<input wsam:Action="http://services.ws.bds.com/ReclamosWS/obtenerListadoReclamosTDDRequest" message="tns:obtenerListadoReclamosTDD"/>
<output wsam:Action="http://services.ws.bds.com/ReclamosWS/obtenerListadoReclamosTDDResponse" message="tns:obtenerListadoReclamosTDDResponse"/>
</operation>
</portType>
<binding name="ReclamosWSPortBinding" type="tns:ReclamosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listadoMovimientosCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoReclamosPorCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarReclamoClienteTDD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerListadoReclamosTDD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReclamosWS">
<port name="ReclamosWSPort" binding="tns:ReclamosWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/ReclamosWS"/>
</port>
</service>
</definitions>