src/conf/xml-resources/web-service-references/IBAgendaTransWS/wsdl/localhost_7001/ibdsws/IBAgendaTransWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="IBAgendaTransWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/IBAgendaTransWS?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarCabeceraAgenda">
<part name="parameters" element="tns:agregarCabeceraAgenda"/>
</message>
<message name="agregarCabeceraAgendaResponse">
<part name="parameters" element="tns:agregarCabeceraAgendaResponse"/>
</message>
<message name="consultarIdCabeceraAgendaPP">
<part name="parameters" element="tns:consultarIdCabeceraAgendaPP"/>
</message>
<message name="consultarIdCabeceraAgendaPPResponse">
<part name="parameters" element="tns:consultarIdCabeceraAgendaPPResponse"/>
</message>
<message name="eliminarAgendaProgramada">
<part name="parameters" element="tns:eliminarAgendaProgramada"/>
</message>
<message name="eliminarAgendaProgramadaResponse">
<part name="parameters" element="tns:eliminarAgendaProgramadaResponse"/>
</message>
<message name="consultarIdCabeceraAgenda">
<part name="parameters" element="tns:consultarIdCabeceraAgenda"/>
</message>
<message name="consultarIdCabeceraAgendaResponse">
<part name="parameters" element="tns:consultarIdCabeceraAgendaResponse"/>
</message>
<message name="agregarDetalleAgenda">
<part name="parameters" element="tns:agregarDetalleAgenda"/>
</message>
<message name="agregarDetalleAgendaResponse">
<part name="parameters" element="tns:agregarDetalleAgendaResponse"/>
</message>
<portType name="IBAgendaTransWS">
<operation name="agregarCabeceraAgenda">
<input wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/agregarCabeceraAgendaRequest" message="tns:agregarCabeceraAgenda"/>
<output wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/agregarCabeceraAgendaResponse" message="tns:agregarCabeceraAgendaResponse"/>
</operation>
<operation name="consultarIdCabeceraAgendaPP">
<input wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/consultarIdCabeceraAgendaPPRequest" message="tns:consultarIdCabeceraAgendaPP"/>
<output wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/consultarIdCabeceraAgendaPPResponse" message="tns:consultarIdCabeceraAgendaPPResponse"/>
</operation>
<operation name="eliminarAgendaProgramada">
<input wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/eliminarAgendaProgramadaRequest" message="tns:eliminarAgendaProgramada"/>
<output wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/eliminarAgendaProgramadaResponse" message="tns:eliminarAgendaProgramadaResponse"/>
</operation>
<operation name="consultarIdCabeceraAgenda">
<input wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/consultarIdCabeceraAgendaRequest" message="tns:consultarIdCabeceraAgenda"/>
<output wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/consultarIdCabeceraAgendaResponse" message="tns:consultarIdCabeceraAgendaResponse"/>
</operation>
<operation name="agregarDetalleAgenda">
<input wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/agregarDetalleAgendaRequest" message="tns:agregarDetalleAgenda"/>
<output wsam:Action="http://services.ws.bds.com/IBAgendaTransWS/agregarDetalleAgendaResponse" message="tns:agregarDetalleAgendaResponse"/>
</operation>
</portType>
<binding name="IBAgendaTransWSPortBinding" type="tns:IBAgendaTransWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarCabeceraAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarIdCabeceraAgendaPP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarAgendaProgramada">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarIdCabeceraAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarDetalleAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IBAgendaTransWS">
<port name="IBAgendaTransWSPort" binding="tns:IBAgendaTransWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/IBAgendaTransWS"/>
</port>
</service>
</definitions>