src/conf/xml-resources/web-service-references/IbPreguntasDesafioWS/wsdl/localhost_7001/ibdsws/IbPreguntasDesafioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="IbPreguntasDesafioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/IbPreguntasDesafioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="validarPreguntaDD">
<part name="parameters" element="tns:validarPreguntaDD"/>
</message>
<message name="validarPreguntaDDResponse">
<part name="parameters" element="tns:validarPreguntaDDResponse"/>
</message>
<message name="agregarPDDUsuario">
<part name="parameters" element="tns:agregarPDDUsuario"/>
</message>
<message name="agregarPDDUsuarioResponse">
<part name="parameters" element="tns:agregarPDDUsuarioResponse"/>
</message>
<message name="listadoPreguntasDesafioBanco">
<part name="parameters" element="tns:listadoPreguntasDesafioBanco"/>
</message>
<message name="listadoPreguntasDesafioBancoResponse">
<part name="parameters" element="tns:listadoPreguntasDesafioBancoResponse"/>
</message>
<message name="listadoPreguntasDesafioUsuario">
<part name="parameters" element="tns:listadoPreguntasDesafioUsuario"/>
</message>
<message name="listadoPreguntasDesafioUsuarioResponse">
<part name="parameters" element="tns:listadoPreguntasDesafioUsuarioResponse"/>
</message>
<portType name="IbPreguntasDesafioWS">
<operation name="validarPreguntaDD">
<input wsam:Action="http://services.ws.bds.com/IbPreguntasDesafioWS/validarPreguntaDDRequest" message="tns:validarPreguntaDD"/>
<output wsam:Action="http://services.ws.bds.com/IbPreguntasDesafioWS/validarPreguntaDDResponse" message="tns:validarPreguntaDDResponse"/>
</operation>
<operation name="agregarPDDUsuario">
<input wsam:Action="http://services.ws.bds.com/IbPreguntasDesafioWS/agregarPDDUsuarioRequest" message="tns:agregarPDDUsuario"/>
<output wsam:Action="http://services.ws.bds.com/IbPreguntasDesafioWS/agregarPDDUsuarioResponse" message="tns:agregarPDDUsuarioResponse"/>
</operation>
<operation name="listadoPreguntasDesafioBanco">
<input wsam:Action="http://services.ws.bds.com/IbPreguntasDesafioWS/listadoPreguntasDesafioBancoRequest" message="tns:listadoPreguntasDesafioBanco"/>
<output wsam:Action="http://services.ws.bds.com/IbPreguntasDesafioWS/listadoPreguntasDesafioBancoResponse" message="tns:listadoPreguntasDesafioBancoResponse"/>
</operation>
<operation name="listadoPreguntasDesafioUsuario">
<input wsam:Action="http://services.ws.bds.com/IbPreguntasDesafioWS/listadoPreguntasDesafioUsuarioRequest" message="tns:listadoPreguntasDesafioUsuario"/>
<output wsam:Action="http://services.ws.bds.com/IbPreguntasDesafioWS/listadoPreguntasDesafioUsuarioResponse" message="tns:listadoPreguntasDesafioUsuarioResponse"/>
</operation>
</portType>
<binding name="IbPreguntasDesafioWSPortBinding" type="tns:IbPreguntasDesafioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarPreguntaDD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarPDDUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoPreguntasDesafioBanco">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listadoPreguntasDesafioUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IbPreguntasDesafioWS">
<port name="IbPreguntasDesafioWSPort" binding="tns:IbPreguntasDesafioWSPortBinding">
<soap:address location="http://localhost:7001/ibdsws/IbPreguntasDesafioWS"/>
</port>
</service>
</definitions>