src/conf/xml-resources/web-service-references/P_ObtenerListadoServiciosSistemaService/wsdl/svoriorvar35_7005/p_obtenerListadoServiciosSistema_WS/P_ObtenerListadoServiciosSistemaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://com.delsur/pagoServicios" targetNamespace="http://com.delsur/pagoServicios"><xsd:complexType name="DELSUR_Exception"><xsd:sequence><xsd:element name="message" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="obtenerListadoServiciosSistemaResponse"><xsd:sequence><xsd:element name="return" type="ns0:servicio" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="servicio"><xsd:sequence><xsd:element name="codigoServicio" type="xsd:int"/><xsd:element name="descripcionServicio" type="xsd:string" minOccurs="0"/><xsd:element name="proveedorServicio" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="obtenerListadoServiciosSistema"/><xsd:element name="DELSUR_Exception" type="ns0:DELSUR_Exception"/><xsd:element name="obtenerListadoServiciosSistemaResponse" type="ns0:obtenerListadoServiciosSistemaResponse"/><xsd:element name="obtenerListadoServiciosSistema" type="ns0:obtenerListadoServiciosSistema"/></xsd:schema>