src/conf/xml-resources/web-service-references/IbUsuariosP2PWS/wsdl/localhost_7003/ibdsws/IbUsuariosP2PWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ws.bds.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ws.bds.com/" name="IbUsuariosP2PWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ws.bds.com/" schemaLocation="http://localhost:7001/ibdsws/IbUsuariosP2PWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editarUsuarioP2P">
<part name="parameters" element="tns:editarUsuarioP2P"/>
</message>
<message name="editarUsuarioP2PResponse">
<part name="parameters" element="tns:editarUsuarioP2PResponse"/>
</message>
<message name="insertarUsuarioP2P">
<part name="parameters" element="tns:insertarUsuarioP2P"/>
</message>
<message name="insertarUsuarioP2PResponse">
<part name="parameters" element="tns:insertarUsuarioP2PResponse"/>
</message>
<message name="validarAfiliacionP2P">
<part name="parameters" element="tns:validarAfiliacionP2P"/>
</message>
<message name="validarAfiliacionP2PResponse">
<part name="parameters" element="tns:validarAfiliacionP2PResponse"/>
</message>
<message name="consultarUsuarioP2P">
<part name="parameters" element="tns:consultarUsuarioP2P"/>
</message>
<message name="consultarUsuarioP2PResponse">
<part name="parameters" element="tns:consultarUsuarioP2PResponse"/>
</message>
<message name="validarEdicionAfiliacionP2P">
<part name="parameters" element="tns:validarEdicionAfiliacionP2P"/>
</message>
<message name="validarEdicionAfiliacionP2PResponse">
<part name="parameters" element="tns:validarEdicionAfiliacionP2PResponse"/>
</message>
<message name="desafiliarUsuarioP2P">
<part name="parameters" element="tns:desafiliarUsuarioP2P"/>
</message>
<message name="desafiliarUsuarioP2PResponse">
<part name="parameters" element="tns:desafiliarUsuarioP2PResponse"/>
</message>
<portType name="IbUsuariosP2PWS">
<operation name="editarUsuarioP2P">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/editarUsuarioP2PRequest" message="tns:editarUsuarioP2P"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/editarUsuarioP2PResponse" message="tns:editarUsuarioP2PResponse"/>
</operation>
<operation name="insertarUsuarioP2P">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/insertarUsuarioP2PRequest" message="tns:insertarUsuarioP2P"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/insertarUsuarioP2PResponse" message="tns:insertarUsuarioP2PResponse"/>
</operation>
<operation name="validarAfiliacionP2P">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/validarAfiliacionP2PRequest" message="tns:validarAfiliacionP2P"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/validarAfiliacionP2PResponse" message="tns:validarAfiliacionP2PResponse"/>
</operation>
<operation name="consultarUsuarioP2P">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/consultarUsuarioP2PRequest" message="tns:consultarUsuarioP2P"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/consultarUsuarioP2PResponse" message="tns:consultarUsuarioP2PResponse"/>
</operation>
<operation name="validarEdicionAfiliacionP2P">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/validarEdicionAfiliacionP2PRequest" message="tns:validarEdicionAfiliacionP2P"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/validarEdicionAfiliacionP2PResponse" message="tns:validarEdicionAfiliacionP2PResponse"/>
</operation>
<operation name="desafiliarUsuarioP2P">
<input wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/desafiliarUsuarioP2PRequest" message="tns:desafiliarUsuarioP2P"/>
<output wsam:Action="http://services.ws.bds.com/IbUsuariosP2PWS/desafiliarUsuarioP2PResponse" message="tns:desafiliarUsuarioP2PResponse"/>
</operation>
</portType>
<binding name="IbUsuariosP2PWSPortBinding" type="tns:IbUsuariosP2PWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editarUsuarioP2P">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarUsuarioP2P">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarAfiliacionP2P">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarUsuarioP2P">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarEdicionAfiliacionP2P">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desafiliarUsuarioP2P">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IbUsuariosP2PWS">
<port name="IbUsuariosP2PWSPort" binding="tns:IbUsuariosP2PWSPortBinding">
<soap:address location="http://localhost:7003/ibdsws/IbUsuariosP2PWS"/>
</port>
</service>
</definitions>